{% extends "SoNetBundle::layout.html.twig" %}

{% block title %}Войти{% endblock %}

{% block content %}


    <form action="{{ path('login_check') }}" method="post" class="form-signup">
        <h2 class="form-signup-heading">Войти</h2>

        {% if error %}
            <div>{{ error.message }}</div>
        {% endif %}

        <input type="text" id="username" class="form-control top-input" name="_username" placeholder="Имя пользователя или email" value="{{ last_username }}"/>

        <input type="password" id="password" class="form-control bot-input" placeholder="Пароль" name="_password"/>

        <button type="submit" class="btn btn-lg btn-primary btn-block">Войти</button>
    </form>
{% endblock %}
