{% extends "SoNetBundle::layout.html.twig" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
        {{ form_start(form, {'attr': {'class': 'form-signup'} }) }}

        <h2 class="form-signup-heading">Регистрация</h2>
        {{ form_errors(form) }}

        {{ form_errors(form.username) }}
        {{ form_widget(form.username, {'attr': {'class': 'form-control top-input', 'placeholder': form.username.vars.label} }) }}

        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control mid-input', 'placeholder': form.email.vars.label} }) }}

        {{ form_errors(form.password.first) }}
        {{ form_widget(form.password.first, {'attr': {'class': 'form-control mid-input', 'placeholder': form.password.first.vars.label} }) }}

        {{ form_errors(form.password.second) }}
        {{ form_widget(form.password.second, {'attr': {'class': 'form-control bot-input', 'placeholder': form.password.second.vars.label} }) }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>

        {{ form_end(form) }}
{% endblock %}