{% extends "SoNetBundle::layout_main.html.twig" %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <div class="blog-header">
        <h1 class="blog-title">{{ user.username }} feed</h1>
    </div>

    {% if user == app.user %}
        <div class="row">
            <div class="col-sm-8">
                <a class='btn btn-primary' href="{{ path('_post_create') }}">New post</a>
            </div>
        </div>

        <br/>
    {% endif %}

    <div class="row">
        <div class="col-sm-8 blog-main">
            {% block flashbags %}
                {% for flashMessage in app.session.flashbag.get('info') %}
                    <div class="flash-info">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="flash-error">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            {% endblock %}

            <div class="count">
                {{ pagination.getTotalItemCount }}
            </div>
            {% for post in posts %}

                <div class="blog-post">
                    <p class="blog-post-meta">{{ post.createdAt|date('M d, Y H:i:s') }}</p>

                    <p class="post-content">{{ post.content }}</p>

                    {% if is_granted('ROLE_MODERATOR') %}
                        <a class="btn btn-warning" href="{{ path('_post_edit', {id: post.id}) }}">Edit</a>
                    {% endif %}
                    <hr>
                </div>

            {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>

    </div>
{% endblock %}