{% extends "SoNetBundle::layout_main.html.twig" %}

{% block content %}
    <div class="blog-header">
        <h1 class="blog-title">Moderator's homepage</h1>
    </div>

    <div class="row">
        <div class="col-sm-8 blog-main">

            {{ form_start(form, {attr: {class: 'form-inline'} }) }}
            {{ form_errors(form) }}

            {{ form_errors(form.username) }}
            {{ form_widget(form.username, {attr: {class: 'form-control'} }) }}

            <input type="submit" class="btn btn-primary" value="Find users">

            {{ form_end(form) }}
        </div>
    </div>

    {% if users %}
        <div class="row">
            <div class="col-sm-8 blog-main">
                {% for u in users %}
                    <div class="blog-post">
                        <p><a href="{{ path('_user_index', {username: u.username}) }}">{{ u.username }}</a></p>

                        <p class="blog-post-meta">{{ u.email }}</p>

                        {% if u.isBanned %}
                            <a class="btn btn-success" href="{{ path('_user_unban', {id: u.id}) }}">Unban</a>
                        {% else %}
                            <a class="btn btn-danger" href="{{ path('_user_ban', {id: u.id}) }}">Ban</a>
                        {% endif %}
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}