{% extends "SoNetBundle::layout.html.twig" %}

{% block body %}

    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <!-- Left block -->
                {% if is_granted('ROLE_MODERATOR') %}
                    <a class="blog-nav-item {{ app.request.get('_route') == '_moderator_index' ? 'active' }}"
                       href="{{ path('_moderator_index') }}">Moderators's main</a>
                {% endif %}

                {% if is_granted('ROLE_USER') %}
                    <a class="blog-nav-item {{ app.request.get('_route') == '_user_index' and app.user == user ? 'active' }}"
                       href="{{ path('_user_index', {username: app.user.username}) }}">Home</a>
                    <a class="blog-nav-item {{ app.request.get('_route') == '_friends_index' ? 'active' }}"
                       href="{{ path('_friends_index') }}">Friends</a>
                {% endif %}

                <!-- Right block -->
                <a class="blog-nav-item pull-right" href="{{ path('logout') }}">Logout</a>
                <span class="blog-nav-item pull-right">{{ app.user.username }}</span>
            </nav>
        </div>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

{% endblock %}