{% extends "::base.html.twig" %}

{% block stylesheets %}

    {% stylesheets '@SoNetBundle/Resources/public/css/*' '@SoNetBundle/Resources/public/css/thirdparty/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="{{ asset('bundles/sonet/js/thirdparty/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sonet/js/thirdparty/bootstrap.js') }}"></script>


    {% javascripts '@SoNetBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    {% block flashbags %}
        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="flash-info">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash-error">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endblock %}
    {% block content %}{% endblock %}
{% endblock %}