{% extends "SoNetBundle::layout_main.html.twig" %}

{% block title %}Edit post{% endblock %}

{% block content %}
    <div class="blog-header">
        <h1 class="blog-title">Edit post</h1>
    </div>

    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="col-sm-7">
                {{ form_start(form) }}
                {{ form_errors(form) }}

                {{ form_errors(form.content) }}
                {{ form_widget(form.content, {attr: {class: 'form-control', placeholder: 'Write post content here...'} }) }}

                <br>

                <input type="submit" class="btn btn-primary" value="Save">
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
