{% extends "SoNetBundle::layout_main.html.twig" %}

{% block title %}Friends{% endblock %}

{% block content %}
    <div class="blog-header">
        <h1 class="blog-title">Friends</h1>
        <a href="{{ path('_friend_requests') }}">Inbox requests</a>
        <a href="{{ path('_friend_requests') }}">Send requests</a>
    </div>

    <div class="row">
        <div class="col-sm-8">
            {{ form_start(form, {attr: {class: 'form-inline'}}) }}

            {{ form_errors(form.username) }}
            {{ form_widget(form.username, {attr: {class: 'form-control'} }) }}

            <input type="submit" class="btn" value="Add friend">
            {{ form_end(form) }}
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 blog-main">
            {% block flashbags %}
                {% for flashMessage in app.session.flashbag.get('info') %}
                    <div class="flash-info">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="flash-error">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            {% endblock %}

            {% for u in friends %}
                <div class="blog-post">
                    <p><a href="{{ path('_user_index', {username: u.username}) }}">{{ u.username }}</a></p>

                    <p class="blog-post-meta">{{ u.email }}</p>

                    <a class="btn btn-primary" href="{{ path('_friends_delete', {username: u.username}) }}">remove</a>
                    <hr>
                </div>
            {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
