{% extends "SoNetBundle::layout_main.html.twig" %}

{% block title %}Friend requests{% endblock %}

{% block content %}
    <div class="blog-header">
        <h1 class="blog-title">Friend requests</h1>
    </div>

    <div class="row">
        <div class="col-sm-8 blog-main">
            {% block flashbags %}
                {% for flashMessage in app.session.flashbag.get('info') %}
                    <div class="flash-info">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="flash-error">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            {% endblock %}

            {% for r in requests %}
                <div class="blog-post">
                    <p>From: {{ r.sender.username }}</p>

                    <p>Email: {{ r.sender.email }}</p>

                    <a class="btn btn-info"
                       href="{{ path('_friend_request_confirm', {id: r.id}) }}">Confirm</a>
                    <a class="btn btn-danger"
                       href="{{ path('_friend_request_decline', {id: r.id}) }}">Decline</a>
                    <hr>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}